* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

body {
    background-color: #202124;
    color: white;
    text-align: center;
}

.main {
    display: flex;
    flex-flow: row wrap-reverse;
}

.top-bar {
    width: 100%;
    background-color: black;
    padding: .3rem 0 .1rem 0;
}

.shadow {
    box-shadow: 2px 5px 4px rgba(0,0,0,0.40);
}

#take-note-form {
    width: auto;
    margin: 0 .8rem;
}

.input {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #acb1b7;
}

input[type="text"] {
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #acb1b7;
    box-shadow: 2px 5px 4px rgba(0,0,0,0.40);
}

#take-note-form textarea {
    padding: 8px;
    margin-top: .1rem;
    line-height: 1.5;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
}



#note-list {
    width: 25%;
    display: flex;
    margin-left: .5rem;
    flex-direction: column;
    justify-content: ;
    align-items: left;
}

.note {
    width: 100%;
    max-width: 80vw;
    text-align: left;
    margin: 1% 0;
    padding: .7rem .7rem 0 .7rem;
    /* width: max-content; */
    border: 1px solid #3f4146;
    border-radius: 8px;
    background-color: #1e3a5f;
    color: #e8eaed;
}

.title {
    max-width: 75%;
    font-size: 1.2rem;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    text-decoration: underline;
    word-wrap: break-word;
}

.note-par {
    /* max-width: 75vw; */
    /* padding: .2rem 0; */
    word-wrap: break-word;
    line-height: 1.3rem;
    margin: 0;
}

.title-div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.date {
    margin: .2rem 0 0 0;
    color: gray;
    font-size: small;
}

.controls {
    /* width: 5rem; */
    /* height: 1.8rem;  */
    display: flex;
    flex-flow: row nowrap;
    margin-left: 1rem;
}

.pin {
    border-radius: 7% 0 0 7%;
    background-color: rgb(13, 90, 13);
}

.trash {
    border-radius: 0 7% 7% 0;
    background-color: rgb(139, 22, 22);
}

.edit {
    border-radius: 0;
    background-color: rgb(47, 77, 165);
}

.pin:hover {
    background-color: rgb(2, 143, 2);
}

.trash:hover {
    background-color: rgb(173, 26, 26);
}

.edit:hover {
    background-color: royalblue;
}